body{
    background-color: sienna;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: thick;
    border-color: black;
    border-style: solid;
    border-radius: auto;
}
header {
    max-width: 960px; 
    background-color: lightblue;
    height: 200px;
    width: 300px;
    padding-left: 30px;
    padding-top: 5px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    object-fit: fill;   
}
/* NAVIGATION BAR CSS */
#quicklinks>ul {
    list-style: none;
    margin: left;
    padding: 0;
    overflow: auto;
}
#quicklinks>ul>li {
    float: left;
}
#quicklinks>ul>li>a {
    display: block;
    color: silver;
    text-align: left;
    padding: 10px 30px;
    text-decoration: cornsilk;
}
/*IMAGE SIZING CSS*/
#logo {
    width: 300px;
}
#banner {
    width: 935px;
    padding: 10px;
    border: 10px;
    margin: auto;
    padding-left: auto;
    padding-top: auto;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    object-fit: contain;
}
#Donate1 {
    height: 350px;
    width: 300px;
    float: left;
}
/*TEXT STYLING*/
h1 {
    font-family: 'roboto' sans-serif; 
    font-weight: 300;
    color: lightgrey;
    position: static;
}
h2,p {
    font-family: 'roboto' sans-serif;
    font-weight: 400;
}
h3,p {
    font-family: 'roboto' sans-serif;
    font-weight: 700;
}
/*MARGIN FIXES*/
aside p,h3 {
    margin: 0;
}
aside h3 {
    padding-top: 10;
    padding-left: 10;
    padding-right: 10;
}
aside p {
    padding-bottom: 20;
    padding-left: 10;
    padding-right: 10;
}
aside {
    padding-right: 0;
    margin-top: -5; 
}
main {
    padding-right: 0;
}
footer {
    background-color: blue;
}
aside p,h3,h4 {
    color: white;
}