@import "templatecolours.css";

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

head{
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
}
/*NAVIGATION BAR CSS*/
nav>ul{
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
}
nav>ul>li{
    float:left;
}
nav>ul>li>a{
    display:block;
    color:#000000;
    text-align:center;
    padding:10px 30px;
    text-decoration:none;
}
li a:hover{
    color:#363636;
}

/*IMAGE SIZING CSS*/
#donate1_logo
{
    max-width:30px;
    float:right;
    padding-right:10px;
    padding-left:10px;
}

#donate2_logo
{
    width:30px;
    float:left;
    padding-right:10px;
    padding-left:10px;
}

/*TEXT STYLING*/
h1{
    font-family: 'Roboto',sans-serif;
    font-weight:300;
}
p,h2,h3,h4,h5,a{
    font-family:'Roboto',sans-serif;
    font-weight:400;
}
h3,h4,h5{
    font-family:'Roboto',sans-serif;
    font-weight: 700;
}


/*MARGIN FIXES*/
 p,h3,h4{
    margin:0;
}


main{
    padding-right:10px !important;
    padding-left:10px;
    margin-left:0px
}
h1{
    font-size:20px;
}
h2{
    font-size:18px;
}
h3{
    font-size:16px
}
h4{
    font-size:14px;
}
p{
    font-size:13px
}
a{
    font-size:13px;
}
footer>p{
    width:150px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}